/* ================ 浅色颜色值 ================================================== */
:root {
  --ncjd-color-card: rgb(255 255 255 / 40%);
  --ncjd-color-card-hover: rgb(255 255 255 / 65%);
  --ncjd-color-card-h: rgb(255 255 255 / 80%); /* 更亮的卡片（文章等元素） */
  --ncjd-color-card-l: rgb(15 23 42 / 5%);
  --ncjd-color-card-l2: rgb(15 23 42 / 10%);
  --ncjd-color-border: rgb(255 255 255 / 100%);
}

/* ================ 深色颜色值 ================================================== */
html.dark {
  --ncjd-color-card: rgb(255 255 255 / 5.5%);
  --ncjd-color-card-hover: rgb(150 150 150 / 5.5%);
  --ncjd-color-card-h: rgb(255 255 255 / 5.5%);
  --ncjd-color-card-l: rgb(255 255 255 / 5%);
  --ncjd-color-card-l2: rgb(255 255 255 / 7.8%);
  --ncjd-color-border: rgb(138 138 138 / 37%);
}
