# 密钥模板文件，需二次修改

# JWT 配置
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=86400

# 数据库配置
DB_URL=jdbc:mysql://localhost:3306/ncjd
DB_USERNAME=root
DB_PASSWORD=your_password

# Redis 配置
REDIS_HOST=null
REDIS_PASSWORD=null

# 第三方 API
API_KEY=null

# Minio配置
MINIO_ACCESS=your_access
MINIO_SECRET=your_secret
MINIO_BUCKET=your_bucket
MINIO_REGION=your_region